.service-img {
width:100px ;
@media (max-width: 500px) {
   width:70px; 
}}

.service-txt{
    font-size: 16px;

}
.service-Item-Content
{
    text-align: center;
}
.titleSpan{
    color: #d37347ff;
}